body {
    padding-top: 4.2rem;
    padding-bottom: 4.2rem;
    background: rgba(0, 0, 0, 0.76);
}

a {
    text-decoration: none !important;
}

h1,
h2,
h3 {
    font-family: 'Kaushan Script', cursive;
}

.myform {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    padding: 1rem;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 1.1rem;
    outline: 0;
    max-width: 500px;
}

.tx-tfm {
    text-transform: uppercase;
}

.mybtn {
    border-radius: 50px;
}

.login-or {
    position: relative;
    color: #aaa;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

form .error {
    color: #ff0000;
}

.login-failed {
    text-align: center;
    margin: auto;
    margin-top: 10px;
    border: 2px solid black;
    width: 65%;
    background-color: red;
}

.login-failed-text,
.register-success-text {
    text-align: center;
    margin-top: 5px;
    font-weight: bold;
    color: aliceblue;
}