<h1> <strong> Bolsa </strong> </h1>

<h3>Bolsas disponibles: </h3>
<hr>
<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <th> ID </th>
        <th scope="col"> Nombre </th>
        <th scope="col"> Capacidad </th>
        <th scope="col"> Acciones </th>
    </thead>
    <tbody>
        <tr *ngFor="let bolsa of bolsas">
            <td> {{ bolsa.id }} </td>
            <td> {{ bolsa.nombre }} </td>
            <td> {{ bolsa.capacidad }} </td>
            <td>
                <a class="btn btn-info" type="button" [routerLink]="['/producto','bolsa','editar',bolsa.id]"> Modificar </a>
                <a class="btn btn-danger mx-2" type="button" (click)="eliminar(bolsa.id)"> Eliminar </a>
            </td>
        </tr>
    </tbody>
</table>
<a class="btn btn-success my-4" type="button" [routerLink]="['/producto','bolsa','nuevo']">
    Agregar bolsa
</a>
<hr>

<!-- <a class="btn btn-sm btn-success" type="button" [routerLink]="['/articulos','editar',articulo.IdArticulo]">Editar</a> -->